body {
  font-family: Verdana, sans-serif;;
  padding-bottom: 100px;
  li {
    list-style: none;
  }
  #head-title {
    text-align: center;
    padding-bottom: 40px;
    h1 {
      font-size: 55px;
    }
    #logo {
      font-size: 30px;
    }
  }
} 

#comment_form {
  display: none;
}

.cat_list {
  padding-left: 0;
  margin: 0;
  margin-bottom: 10px;
}

.cat_list li {
  float: left;
  margin-right: 20px;
}

.grav_image {
  float: right;
  width: 60px;
  height: 60px;
}