body {
  font-family: Verdana, sans-serif;
  padding-bottom: 100px;
  color: #6E7983;
  li {
    list-style: none;
  }
  #head-title {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: #455B67;
    padding-bottom: 20px;
    h1 {
      font-size: 55px;
      color: #fff;
      font-weight: 400;
      letter-spacing: .04em;
    }
    h4 {
      color: #fff;
      font-weight: 300;
      letter-spacing: .04em;
    }
    #logo {
      font-size: 30px;
    }
  }
  .inner-container {
    
  }
} 

#comment_form {
  display: none;
}

.cat_list {
  padding-left: 0;
  margin: 0;
  margin-bottom: 10px;
}

.cat_list li {
  float: left;
  margin-right: 20px;
}

.grav_image {
  float: right;
  width: 60px;
  height: 60px;
}