.featurette {
  h1 {
    padding-top: 0;
    margin-top: 0;
    color: #455B67;
    span {
      color: #6E7983;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
  p {
    font-size: 16px;
  }
  .home-image {
    overflow: hidden;
  }

  
}

.home h1 a, .home h2 a {
  color: #455B67;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.post {
  padding-left: 0;
  height: 260px;

}

p.date {
  color: #E0451A;
  font-size: 16px;
}

p.categories {
  font-style: italic;
  font-size: 14px;
  margin: 0;
}
.other-stuff {
  height: 800px;
  
  border-radius: 5px;
  background: -moz-linear-gradient(top,  rgba(110,121,131,0.41) 0%, rgba(110,121,131,0.18) 24%, rgba(110,121,131,0.19) 78%, rgba(110,121,131,0.32) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,121,131,0.41)), color-stop(24%,rgba(110,121,131,0.18)), color-stop(78%,rgba(110,121,131,0.19)), color-stop(100%,rgba(110,121,131,0.32))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(110,121,131,0.41) 0%,rgba(110,121,131,0.18) 24%,rgba(110,121,131,0.19) 78%,rgba(110,121,131,0.32) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(110,121,131,0.41) 0%,rgba(110,121,131,0.18) 24%,rgba(110,121,131,0.19) 78%,rgba(110,121,131,0.32) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(110,121,131,0.41) 0%,rgba(110,121,131,0.18) 24%,rgba(110,121,131,0.19) 78%,rgba(110,121,131,0.32) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(110,121,131,0.41) 0%,rgba(110,121,131,0.18) 24%,rgba(110,121,131,0.19) 78%,rgba(110,121,131,0.32) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696e7983', endColorstr='#526e7983',GradientType=0 ); /* IE6-9 */

}

.posts {
  padding: 0;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}